In [1]:
# Import SparkSession to create a Spark app 
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Read inside Airbnb data").getOrCreate()

25/10/03 17:49:59 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
listing = spark.read.csv("Data/listings.csv.gz", header=True,
                        inferSchema=True, sep=",",
                        quote='"', escape='"',
                        multiLine=True, mode="PERMISSIVE")

In [3]:
for filed in listing.schema:
    print(filed)

StructField('id', LongType(), True)
StructField('listing_url', StringType(), True)
StructField('scrape_id', LongType(), True)
StructField('last_scraped', DateType(), True)
StructField('source', StringType(), True)
StructField('name', StringType(), True)
StructField('description', StringType(), True)
StructField('neighborhood_overview', StringType(), True)
StructField('picture_url', StringType(), True)
StructField('host_id', IntegerType(), True)
StructField('host_url', StringType(), True)
StructField('host_name', StringType(), True)
StructField('host_since', DateType(), True)
StructField('host_location', StringType(), True)
StructField('host_about', StringType(), True)
StructField('host_response_time', StringType(), True)
StructField('host_response_rate', StringType(), True)
StructField('host_acceptance_rate', StringType(), True)
StructField('host_is_superhost', StringType(), True)
StructField('host_thumbnail_url', StringType(), True)
StructField('host_picture_url', StringType(), True)
StructField('host_neighbourhood', StringType(), True)
StructField('host_listings_count', IntegerType(), True)
StructField('host_total_listings_count', IntegerType(), True)
StructField('host_verifications', StringType(), True)
StructField('host_has_profile_pic', StringType(), True)
StructField('host_identity_verified', StringType(), True)
StructField('neighbourhood', StringType(), True)
StructField('neighbourhood_cleansed', StringType(), True)
StructField('neighbourhood_group_cleansed', StringType(), True)
StructField('latitude', DoubleType(), True)
StructField('longitude', DoubleType(), True)
StructField('property_type', StringType(), True)
StructField('room_type', StringType(), True)
StructField('accommodates', IntegerType(), True)
StructField('bathrooms', DoubleType(), True)
StructField('bathrooms_text', StringType(), True)
StructField('bedrooms', IntegerType(), True)
StructField('beds', IntegerType(), True)
StructField('amenities', StringType(), True)
StructField('price', StringType(), True)
StructField('minimum_nights', IntegerType(), True)
StructField('maximum_nights', IntegerType(), True)
StructField('minimum_minimum_nights', IntegerType(), True)
StructField('maximum_minimum_nights', IntegerType(), True)
StructField('minimum_maximum_nights', IntegerType(), True)
StructField('maximum_maximum_nights', IntegerType(), True)
StructField('minimum_nights_avg_ntm', DoubleType(), True)
StructField('maximum_nights_avg_ntm', DoubleType(), True)
StructField('calendar_updated', StringType(), True)
StructField('has_availability', StringType(), True)
StructField('availability_30', IntegerType(), True)
StructField('availability_60', IntegerType(), True)
StructField('availability_90', IntegerType(), True)
StructField('availability_365', IntegerType(), True)
StructField('calendar_last_scraped', DateType(), True)
StructField('number_of_reviews', IntegerType(), True)
StructField('number_of_reviews_ltm', IntegerType(), True)
StructField('number_of_reviews_l30d', IntegerType(), True)
StructField('availability_eoy', IntegerType(), True)
StructField('number_of_reviews_ly', IntegerType(), True)
StructField('estimated_occupancy_l365d', IntegerType(), True)
StructField('estimated_revenue_l365d', IntegerType(), True)
StructField('first_review', DateType(), True)
StructField('last_review', DateType(), True)
StructField('review_scores_rating', DoubleType(), True)
StructField('review_scores_accuracy', DoubleType(), True)
StructField('review_scores_cleanliness', DoubleType(), True)
StructField('review_scores_checkin', DoubleType(), True)
StructField('review_scores_communication', DoubleType(), True)
StructField('review_scores_location', DoubleType(), True)
StructField('review_scores_value', DoubleType(), True)
StructField('license', StringType(), True)
StructField('instant_bookable', StringType(), True)
StructField('calculated_host_listings_count', IntegerType(), True)
StructField('calculated_host_listings_count_entire_homes', IntegerType(), True)
StructField('calculated_host_listings_count_private_rooms', IntegerType(), True)
StructField('calculated_host_listings_count_shared_rooms', IntegerType(), True)
StructField('reviews_per_month', DoubleType(), True)

In [4]:
neighbourhoods = listing.select(listing.neighbourhood_cleansed)
neighbourhoods.show(20, truncate=False)

+----------------------+
|neighbourhood_cleansed|
+----------------------+
|Lewisham              |
|Lewisham              |
|Lewisham              |
|Lewisham              |
|Lewisham              |
|Lewisham              |
|Lewisham              |
|Lewisham              |
|Lewisham              |
|Camden                |
|Lambeth               |
|Richmond upon Thames  |
|Hillingdon            |
|Wandsworth            |
|Brent                 |
|Kensington and Chelsea|
|Greenwich             |
|Hackney               |
|Lambeth               |
|Hackney               |
+----------------------+
only showing top 20 rows

In [6]:
review_locations = listing.select(listing.review_scores_location)
review_locations.show()

+----------------------+
|review_scores_location|
+----------------------+
|                  4.62|
|                  4.54|
|                  4.36|
|                   4.5|
|                  4.37|
|                   4.5|
|                  4.53|
|                  4.52|
|                  4.49|
|                  4.94|
|                  4.82|
|                  4.92|
|                  4.14|
|                  4.78|
|                  4.43|
|                  4.73|
|                  NULL|
|                  NULL|
|                  4.48|
|                  4.75|
+----------------------+
only showing top 20 rows

In [7]:
listing.select(listing.review_scores_location).show()

+----------------------+
|review_scores_location|
+----------------------+
|                  4.62|
|                  4.54|
|                  4.36|
|                   4.5|
|                  4.37|
|                   4.5|
|                  4.53|
|                  4.52|
|                  4.49|
|                  4.94|
|                  4.82|
|                  4.92|
|                  4.14|
|                  4.78|
|                  4.43|
|                  4.73|
|                  NULL|
|                  NULL|
|                  4.48|
|                  4.75|
+----------------------+
only showing top 20 rows

In [43]:
listing     \
    .select(listing.review_scores_location)     \
    .show()

+----------------------+
|review_scores_location|
+----------------------+
|                  4.62|
|                  4.54|
|                  4.36|
|                   4.5|
|                  4.37|
|                   4.5|
|                  4.53|
|                  4.52|
|                  4.49|
|                  4.94|
|                  4.82|
|                  4.92|
|                  4.14|
|                  4.78|
|                  4.43|
|                  4.73|
|                  NULL|
|                  NULL|
|                  4.48|
|                  4.75|
+----------------------+
only showing top 20 rows

In [59]:
high_score_listing = listing.filter(listing.review_scores_location>4.5).select('id','price','name','review_scores_location')
high_score_listing.show(20,truncate=False)

+------+-------+------------------------------------------------+----------------------+
|id    |price  |name                                            |review_scores_location|
+------+-------+------------------------------------------------+----------------------+
|264776|$297.00|Huge Four Bedroom Apartment                     |4.62                  |
|264777|$98.00 |One Bedroom Apartment                           |4.54                  |
|264782|$120.00|One Bedroom Garden Apartment                    |4.53                  |
|264783|$216.00|Four Bedroom Garden Apartment                   |4.52                  |
|266037|$62.00 |Central London with Stunning Views!             |4.94                  |
|268398|$66.00 |Also five minutes to South Bank                 |4.82                  |
|270600|$73.00 |Patio Apartment in London (Twickenham)          |4.92                  |
|425143|NULL   |luxury 1bed in Chelsea Bridge Wharf             |4.78                  |
|426354|$200.00|1 bedroom flat with big balcony!                |4.73                  |
|427584|$129.00|Hackney Stylish & light 1 bedroom Victorian flat|4.75                  |
|427936|$70.00 |Boutique Room w/ Private Bath, Balcony          |4.88                  |
|274740|$248.00|Top Floor Sunset View   Chelsea apartment       |4.58                  |
|13913 |$72.00 |Holiday London DB Room Let-on going             |4.77                  |
|15400 |$120.00|Bright Chelsea  Apartment. Chelsea!             |4.93                  |
|17402 |$510.00|Very Central Modern 3-Bed/2 Bath By Oxford St W1|4.89                  |
|24328 |$213.00|Battersea live/work artist house                |4.59                  |
|34935 |$153.00|Bright 1 Bedroom Apartment w 2 beds Brick Lane  |4.59                  |
|36299 |$245.00|Kew Gardens 3BR house in cul-de-sac             |4.9                   |
|36660 |$74.00 |You are GUARANTEED to love this                 |4.77                  |
|38610 |NULL   |CHARMING FAMILY HOME                            |4.79                  |
+------+-------+------------------------------------------------+----------------------+
only showing top 20 rows

In [82]:
high_score_listing = listing \
    .filter(listing.review_scores_location>4.5) \
        .select('id','price','name','review_scores_location')

high_score_listing.dropna().show(20,truncate=False)

+------+-------+------------------------------------------------+----------------------+
|id    |price  |name                                            |review_scores_location|
+------+-------+------------------------------------------------+----------------------+
|264776|$297.00|Huge Four Bedroom Apartment                     |4.62                  |
|264777|$98.00 |One Bedroom Apartment                           |4.54                  |
|264782|$120.00|One Bedroom Garden Apartment                    |4.53                  |
|264783|$216.00|Four Bedroom Garden Apartment                   |4.52                  |
|266037|$62.00 |Central London with Stunning Views!             |4.94                  |
|268398|$66.00 |Also five minutes to South Bank                 |4.82                  |
|270600|$73.00 |Patio Apartment in London (Twickenham)          |4.92                  |
|426354|$200.00|1 bedroom flat with big balcony!                |4.73                  |
|427584|$129.00|Hackney Stylish & light 1 bedroom Victorian flat|4.75                  |
|427936|$70.00 |Boutique Room w/ Private Bath, Balcony          |4.88                  |
|274740|$248.00|Top Floor Sunset View   Chelsea apartment       |4.58                  |
|13913 |$72.00 |Holiday London DB Room Let-on going             |4.77                  |
|15400 |$120.00|Bright Chelsea  Apartment. Chelsea!             |4.93                  |
|17402 |$510.00|Very Central Modern 3-Bed/2 Bath By Oxford St W1|4.89                  |
|24328 |$213.00|Battersea live/work artist house                |4.59                  |
|34935 |$153.00|Bright 1 Bedroom Apartment w 2 beds Brick Lane  |4.59                  |
|36299 |$245.00|Kew Gardens 3BR house in cul-de-sac             |4.9                   |
|36660 |$74.00 |You are GUARANTEED to love this                 |4.77                  |
|275140|$111.00|Great location, direct links to London Bridge!  |4.54                  |
|432841|$104.00|Large double bedroom in Shoreditch w/garden     |4.79                  |
+------+-------+------------------------------------------------+----------------------+
only showing top 20 rows

In [126]:
# Import functions we'll need for string replacement
from pyspark.sql.functions import regexp_replace, col


# Create a new DataFrame "df_no_dollar" by cleaning the "price" column
df_no_dollar = listing.withColumn(
    "price",                                   # Column we are updating
    regexp_replace("price", "[$,]", "")        # Remove "$" and "," characters from the string
    .cast('float')                             # Convert the cleaned string into a float type
        )

df_no_dollar.select('price','name').show(truncate=False)

+-----+--------------------------------------------------+
|price|name                                              |
+-----+--------------------------------------------------+
|297.0|Huge Four Bedroom Apartment                       |
|98.0 |One Bedroom Apartment                             |
|148.0|Two Bedroom Newly Refurbished Apartment           |
|144.0|Refurbished Two Bedroom Apartment                 |
|157.0|Spacious refurbished 2 bedroom apt with balcony   |
|148.0|Two Bedrooms Garden Maisonette                    |
|120.0|One Bedroom Garden Apartment                      |
|216.0|Four Bedroom Garden Apartment                     |
|238.0|Huge Three Bedroom Flat with parking and terrace  |
|62.0 |Central London with Stunning Views!               |
|66.0 |Also five minutes to South Bank                   |
|73.0 |Patio Apartment in London (Twickenham)            |
|NULL |Heathrow BNB - Home Away From Home!               |
|NULL |luxury 1bed in Chelsea Bridge Wharf               |
|134.0|2 Bed Edwardian Maisonette with Sunny Garden      |
|200.0|1 bedroom flat with big balcony!                  |
|NULL |Kitchener House!                                  |
|155.0|Cool shoreditch courtyard flat                    |
|135.0|Lovely 2 bedroom flat near Brixton, zone 2, London|
|129.0|Hackney Stylish & light 1 bedroom Victorian flat  |
+-----+--------------------------------------------------+
only showing top 20 rows

In [128]:
df_no_dollar.schema['price']

StructField('price', FloatType(), True)

In [137]:
df_no_dollar.filter( (df_no_dollar.price<100) & (df_no_dollar.review_scores_rating>4.5) ) \
    .select('price','name','review_scores_rating')\
    .show(truncate=False)

+-----+-------------------------------------------------+--------------------+
|price|name                                             |review_scores_rating|
+-----+-------------------------------------------------+--------------------+
|98.0 |One Bedroom Apartment                            |4.58                |
|62.0 |Central London with Stunning Views!              |4.9                 |
|66.0 |Also five minutes to South Bank                  |4.63                |
|73.0 |Patio Apartment in London (Twickenham)           |4.64                |
|70.0 |Boutique Room w/ Private Bath, Balcony           |4.98                |
|72.0 |Holiday London DB Room Let-on going              |4.85                |
|74.0 |You are GUARANTEED to love this                  |4.87                |
|51.0 |Bright Double + workspace in spacious Garden Flat|4.75                |
|52.0 |SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT         |4.97                |
|75.0 |Room with a view, shared flat,  central  Bankside|4.69                |
|55.0 |You Will Save Money Here                         |4.89                |
|94.0 |Spacious luxury 2 bedroom apartment              |4.6                 |
|48.0 |A people person awaits you here!                 |4.9                 |
|47.0 |Quiet Comfortable Room in Fulham                 |4.73                |
|55.0 |Sunny double room/balcony/shower/wc              |4.96                |
|80.0 |London, Ealing, W13 Artists Home                 |4.99                |
|41.0 |Attic Room in historic Greenwich                 |4.79                |
|83.0 |202 double room shower Soho comfy                |4.58                |
|60.0 |Dream Apartment in central London                |4.83                |
|78.0 |Architect's pub conversion, London               |4.76                |
+-----+-------------------------------------------------+--------------------+
only showing top 20 rows

In [142]:
df_no_dollar.filter('price < 100 AND review_scores_rating > 4.5') \
    .select('price','name','review_scores_rating')\
    .show(truncate=False)

+-----+-------------------------------------------------+--------------------+
|price|name                                             |review_scores_rating|
+-----+-------------------------------------------------+--------------------+
|98.0 |One Bedroom Apartment                            |4.58                |
|62.0 |Central London with Stunning Views!              |4.9                 |
|66.0 |Also five minutes to South Bank                  |4.63                |
|73.0 |Patio Apartment in London (Twickenham)           |4.64                |
|70.0 |Boutique Room w/ Private Bath, Balcony           |4.98                |
|72.0 |Holiday London DB Room Let-on going              |4.85                |
|74.0 |You are GUARANTEED to love this                  |4.87                |
|51.0 |Bright Double + workspace in spacious Garden Flat|4.75                |
|52.0 |SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT         |4.97                |
|75.0 |Room with a view, shared flat,  central  Bankside|4.69                |
|55.0 |You Will Save Money Here                         |4.89                |
|94.0 |Spacious luxury 2 bedroom apartment              |4.6                 |
|48.0 |A people person awaits you here!                 |4.9                 |
|47.0 |Quiet Comfortable Room in Fulham                 |4.73                |
|55.0 |Sunny double room/balcony/shower/wc              |4.96                |
|80.0 |London, Ealing, W13 Artists Home                 |4.99                |
|41.0 |Attic Room in historic Greenwich                 |4.79                |
|83.0 |202 double room shower Soho comfy                |4.58                |
|60.0 |Dream Apartment in central London                |4.83                |
|78.0 |Architect's pub conversion, London               |4.76                |
+-----+-------------------------------------------------+--------------------+
only showing top 20 rows

In [151]:
listing.select(listing.property_type).distinct().show(50,truncate=False)

[Stage 53:>                                                         (0 + 1) / 1]

+----------------------------------+
|property_type                     |
+----------------------------------+
|Private room in lighthouse        |
|Private room in loft              |
|Private room in earthen home      |
|Entire chalet                     |
|Earthen home                      |
|Farm stay                         |
|Entire rental unit                |
|Shared room in hostel             |
|Shared room                       |
|Private room in condo             |
|Room in boutique hotel            |
|Private room in religious building|
|Room in bed and breakfast         |
|Private room in casa particular   |
|Private room in bungalow          |
|Entire cabin                      |
|Entire guesthouse                 |
|Hut                               |
|Private room in nature lodge      |
|Entire guest suite                |
|Private room in home              |
|Entire place                      |
|Floor                             |
|Camper/RV                         |
|Shared room in bungalow           |
|Castle                            |
|Private room in boat              |
|Tiny home                         |
|Entire vacation home              |
|Private room in hostel            |
|Private room in chalet            |
|Private room in island            |
|Lighthouse                        |
|Private room in treehouse         |
|Cave                              |
|Riad                              |
|Room in aparthotel                |
|Private room in cottage           |
|Campsite                          |
|Private room in guest suite       |
|Room in hostel                    |
|Entire townhouse                  |
|Room in hotel                     |
|Entire villa                      |
|Entire home/apt                   |
|Private room in rental unit       |
|Private room in bed and breakfast |
|Entire serviced apartment         |
|Private room in cabin             |
|Private room in serviced apartment|
+----------------------------------+
only showing top 50 rows

In [153]:
listing.select(listing.property_type, listing.room_type).distinct().show(50,truncate=False)

[Stage 59:>                                                         (0 + 1) / 1]

+----------------------------------+---------------+
|property_type                     |room_type      |
+----------------------------------+---------------+
|Room in hostel                    |Hotel room     |
|Private room in casa particular   |Private room   |
|Dome                              |Entire home/apt|
|Entire serviced apartment         |Entire home/apt|
|Private room in loft              |Private room   |
|Shipping container                |Entire home/apt|
|Private room in villa             |Private room   |
|Farm stay                         |Entire home/apt|
|Room in hotel                     |Hotel room     |
|Shared room in rental unit        |Shared room    |
|Private room in guest suite       |Private room   |
|Room in rental unit               |Hotel room     |
|Room in serviced apartment        |Hotel room     |
|Private room in serviced apartment|Private room   |
|Private room in hostel            |Private room   |
|Shared room                       |Shared room    |
|Private room in yurt              |Private room   |
|Room in boutique hotel            |Private room   |
|Private room in shepherd's hut    |Private room   |
|Entire rental unit                |Entire home/apt|
|Camper/RV                         |Entire home/apt|
|Private room in home              |Private room   |
|Room in hotel                     |Entire home/apt|
|Room in aparthotel                |Private room   |
|Floor                             |Entire home/apt|
|Hut                               |Entire home/apt|
|Private room in shipping container|Private room   |
|Shared room in loft               |Shared room    |
|Private room in houseboat         |Private room   |
|Private room in religious building|Private room   |
|Entire loft                       |Entire home/apt|
|Private room in bed and breakfast |Private room   |
|Room in aparthotel                |Entire home/apt|
|Entire home                       |Entire home/apt|
|Shared room in bungalow           |Shared room    |
|Private room in resort            |Private room   |
|Room in boutique hotel            |Hotel room     |
|Private room in treehouse         |Private room   |
|Entire condo                      |Entire home/apt|
|Entire guesthouse                 |Entire home/apt|
|Private room in chalet            |Private room   |
|Castle                            |Entire home/apt|
|Entire place                      |Entire home/apt|
|Shepherd’s hut                    |Entire home/apt|
|Shared room in condo              |Shared room    |
|Entire cottage                    |Entire home/apt|
|Casa particular                   |Entire home/apt|
|Shared room in hotel              |Shared room    |
|Entire chalet                     |Entire home/apt|
|Entire villa                      |Entire home/apt|
+----------------------------------+---------------+
only showing top 50 rows

In [157]:
listing.select(listing.property_type).distinct().write.csv('Data/property_type/test.csv')